version: '2'
services:
  plex:
    image: plexinc/pms-docker:plexpass
    restart: always
    hostname: plex
    ports:
      - "32400:32400/tcp"
      - "3005:3005/tcp"
      - "8324:8324/tcp"
      - "32469:32469/tcp"
      - "1900:1900/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
    expose:
      - "32400"
    environment:
      - PLEX_UID=2000
      - PLEX_GID=2000
    volumes:
      - ./config/plex:/config
      - ./tmp:/transcode
      - ./data:/data
  sonarr:
    image: twanislas/sonarr
    restart: always
    hostname: sonarr
    ports:
      - "8989:8989/tcp"
      - "9898:9898/tcp"
    environment:
      - SONARR_UID=2000
      - SONARR_GID=2000
    volumes:
      - ./config/sonarr:/config
      - ./data:/data
  radarr:
    image: twanislas/radarr
    restart: always
    hostname: radarr
    ports:
      - "7878:7878/tcp"
    environment:
      - RADARR_UID=2000
      - RADARR_GID=2000
    volumes:
      - ./config/radarr:/config
      - ./data:/data
  jackett:
    image: twanislas/jackett
    restart: always
    hostname: jackett
    ports:
      - "9117:9117/tcp"
    expose:
      - "9117"
    environment:
      - JACKETT_UID=2000
      - JACKETT_GID=2000
    volumes:
      - ./config/jackett:/config
      - ./data/Downloads:/data
  qbittorrent:
    image: twanislas/qbittorrent
    restart: always
    hostname: qbittorrent
    ports:
      - "8080:8080/tcp"
      - "53160:53160"
    expose:
      - "8080"
    environment:
      - QBITTORRENT_UID=2000
      - QBITTORRENT_GID=2000
    volumes:
      - ./config/qbittorrent:/config
      - ./data/Downloads:/data
  tautulli:
      image: tautulli/tautulli
      restart: always
      hostname: tautulli
      ports:
        - "8181:8181/tcp"
      expose:
        - "8181"
      environment:
        - TZ=Europe/Brussels
        - PGID=2000
        - PUID=2000
      volumes:
        - ./config/plexpy:/config
        - "./config/plex/Library/Application Support/Plex Media Server/Logs:/plex_logs:ro"
  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      - 443/tcp
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./config/certbot:/etc/letsencrypt:ro